__pycache__/
*.pyc
.venv/
venv/
runs/
storage/uploads/images/*
storage/uploads/videos/*
storage/uploads/captures/*
storage/uploads/thumbnails/*
!storage/uploads/images/.gitkeep
!storage/uploads/videos/.gitkeep
!storage/uploads/captures/.gitkeep
!storage/uploads/thumbnails/.gitkeep
storage/data/*.json
storage/models/*.pt
dataset/images/train/*
dataset/images/val/*
dataset/labels/train/*
dataset/labels/val/*
!dataset/images/train/.gitkeep
!dataset/images/val/.gitkeep
!dataset/labels/train/.gitkeep
!dataset/labels/val/.gitkeep
